html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;  
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;

}

.header {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.banner {
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    
}

.banner-text h1 {
    color: #252525;
    font-size: 10vw;
    font-weight: bolder;
}

.banner-text h2 {
    padding-top: 200px;
    font-size: 5vw;
    font-weight: bolder; 
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .banner-text h2 {
       font-size: 35px;
    }
  }

.banner-text h3 {
    padding-top: 200px;
    text-align: left;
}

.responsive-logo {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    padding-bottom: 100px;
    max-width: 580px;
    
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        text-align: center;
        margin-top: -50px;
    }

    #right-column {
        margin-top: -150px;
        margin-bottom: -230px;
    }
    .me {
        margin-top: -150px;
    }

    .overview {
        display: none;
    }

    #nav {
        font-size: 1.5em;
    }

    .contact-section {
        font-size: 1.2em;
    }
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.overview-colors {
    color: #fc886f;
}

.animatedUnder {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.animatedUnder:hover::after {
    width: 100%;
    right: 0;
}
  
.animatedUnder::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    background: linear-gradient(to left, #ba8bf8, #fc886f 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
    border-radius: 5em;
}
  
.parallax {
    background-image: url("../images/science.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
}

.parallax-two {
    background-image: url("../images/design.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;   
}

.about-section {
    background-color: #f8f8f8;
    min-height: 1000px;
    padding-top: 250px; 
    padding-bottom: 250px;
}

.me {
    border-radius: 50%;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#right-column {
    padding-top: 120px;
}

#left-column {
    text-align: left;
    padding-left: 145px;
}

.contact-section {
    background-color: #f8f8f8;
    min-height: 1000px;
    padding-top: 250px; 
}

#lets-talk {
    color: #fc886f;
}

.mailto {
    text-decoration: none !important;
    color: #fc886f;
}

.mailto:hover {
    color: #252525;
    transition: .5s;
}

.fas fa-envelope {
    display: inline-block;
}

.email {
    display: inline-block;
    padding-left: 15px;
}

.facebook {
    padding-left: 22px;
    text-decoration: none;
    color: #fc886f;
}

.facebook:hover {
    color: #252525;
    transition: .5s;
}

.goingup {
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
}

.up {
    text-decoration: none;
    color: #252525;
}

.up:hover {
    color: #fc886f;
    transition: .5s;
}

.twitter {
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
}

.twitter-account {
    text-decoration: none;
    color: #fc886f;
}

.twitter-account:hover {
    color: #252525;
    transition: .5s;
}